.VotesAndComments {
  path {
    fill: $medium-gray;
  }
  circle {
    stroke: none;
  }
  a {
    font-weight: normal;
  }
  white-space: nowrap;
}
/*.VotesAndComments__votes {
  padding-right: 1rem;
  border-right: 1px solid $medium-gray;
}*/
.VotesAndComments__votes {
    display: inline-block;
    margin: 10px 0 0;
    font-weight: bold;
    color: #333;
    font-size: 0.8rem;
    
    img {
      width: 18px;
    }
}
.VotesAndComments__comments {
  padding-left: 10px;
}
.likeIcon img {
  width: 25px;
}
.commentIcon img {
  width: 25px;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
  .VotesAndComments {
    display: block;
    width: auto;
    float: right;
  }
}